.sign-button{
    padding:10px;
    width:200px;
    color:white;
    background-color:#F91944;
    border:none;
    border-radius: 5px;
}

.sign-button:focus{
    outline: 0;
}

.logo-box{
    width:100px;
    margin-top:100px
}

.logo-box img{
    width:100%;
}

.user-info{
    flex-direction: column;
    margin:20px 0;
    border-top:2px solid #F91944;
  border-bottom:2px solid #F91944;
}
.user-info > h1{
    font-size:20px;
}

